<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>

<body>

    <div id="app">

        <main>

            <section id="left">

                <div class="tab_utente">

                    <div class="post-meta">

                        <div class="post-meta__icon">

                            <img class="profile-pic" src="https://unsplash.it/300/300?image=15" alt="Phil Mangione">

                        </div>
                        <div class="post-meta__data">

                            <div class="post-meta__author">Phil Mangione</div>
                            <!-- <div class="post-meta__time">4 mesi fa</div> -->
                        </div>
                    </div>

                    <div class="icon_right">
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-comment-alt"></i>

                    </div>

                </div>

                <div class="tab_utente blue">

                    <div class="post-meta">

                        <div class="post-meta__icon">

                            <img class="profile-pic" src="https://unsplash.it/300/300?image=15" alt="Phil Mangione">

                        </div>
                        <div class="post-meta__data">

                            <div class="post-meta__author">Ricevi notifiche di nuovi messaggi</div>
                            <div class="post-meta__time">Attiva notifiche desktop</div>
                        </div>
                    </div>

                </div>

                <div class="searchBar">
                    <div class="icon_searchBar">

                        <i class="fas fa-search"></i>

                    </div>

                    <div>
                        <input type="text" v-model="inputContact" @keyup="filterName">

                    </div>
                </div>

                <div v-for="(contatto,i) in contacts" class="tab_utente white"
                    :class="[i === activeContact ? 'active' : '', contatto.visible === false ? 'hide' : '' ]" 
                    
                    @click="selectContact(i)"
                    >

                    <div class="post-meta">

                        <div class="post-meta__icon">

                            <img class="profile-pic" :src="contacts[i].image" :alt="contacts[i].name">

                        </div>
                        <div class="post-meta__data">

                            <div class="post-meta__author">{{contacts[i].name}} </div>
                            <!-- <div class="post-meta__time">4 mesi fa</div> -->
                        </div>
                    </div>

                    <div class="icon_right time">

                        12:00

                    </div>

                </div>


            </section>

            <section id="right">

                <div class="tab_utente">

                    <div class="post-meta">

                        <div class="post-meta__icon">

                            <img class="profile-pic" src="https://unsplash.it/300/300?image=15" alt="Phil Mangione">

                        </div>
                        <div class="post-meta__data">

                            <div class="post-meta__author">Phil Mangione</div>
                            <!-- <div class="post-meta__time">4 mesi fa</div> -->
                        </div>
                    </div>

                    <div class="icon_right">
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-comment-alt"></i>

                    </div>

                </div>

                <div class="container-chat">


                    <div class="chat-left">
                       
                        <div v-for="(messaggio,index) in contacts[activeContact].messages" :class="getMessageClass(index)">

                            <span>{{messaggio.message}}</span>

                            
    
                        </div>


                    </div>

                    <!-- <div class="chat-right">

                        <div class="interlo" v-for="(messaggi,i) in newMessages">
                            {{newMessages[i].text}}
                        </div>
                        


                    </div> -->





                </div>

                <div class="textArea">
                    <input type="text" v-model="newMessage" @keyup.enter="sendMessage()">
                    
                </div>


            </section>

        </main>



    </div>






    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>